[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zjzh
[access "refs/for/refs/*"]
	read = group user/zjzh
	push = group user/zjzh
	label-Code-Review = -2..+2 group user/zjzh
	label-Verified = -1..+1 group user/zjzh
	rebase = group user/zjzh
	removeReviewer = group user/zjzh
	submit = group user/zjzh
[access "refs/heads/*"]
	read = group user/zjzh
	create = group user/zjzh
	push = +force group user/zjzh
	pushMerge = group user/zjzh
[access "refs/tags/*"]
	push = group user/zjzh
	push = +force group user/zjzh
